﻿@page
@model IndexModel
@{
    ViewData["Title"] = "WebSamo - บรรจุภัณฑ์";
}
<br>
<div class="container"> 
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>

    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="~/images/home/1.jpg">
      </div>
      <div class="item">
        <img src="~/images/home/2.jpg">
      </div>
      <div class="item">
        <img src="~/images/home/3.jpg">
      </div>
    </div>

    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">ก่อนหน้า</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">ถัดไป</span>
    </a>
  </div>    
</div>

<br>
<br>


<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2 sidebar">
    <br><br><Br><Br>
      <div class="list-group">
        <a href="/Index" class="list-group-item active">หน้าหลัก</a>
        <a href="/Office" class="list-group-item">อุปกรณ์สํานักงาน</a>
        <a href="/Container" class="list-group-item">บรรจุภัณฑ์</a>
        <a href="/Kitchen" class="list-group-item">เครื่องครัว</a>
        <a href="/Tools" class="list-group-item">เครื่องมือช่าง</a>
        <a href="/Sports" class="list-group-item">อุปกรณ์กีฬา</a>
        <a href="/Generals" class="list-group-item">อื่นๆ</a>
      </div>
    </div>
    <div class="col-sm-10">
      <div class="col-sm-13">
        <h2>บรรจุภัณฑ์</h2>
        <hr>
      </div>
      <div class="col-sm-13">
        @foreach (var item in Model.Base) {
            if("บรรจุภัณฑ์" == item.Name ){
        <div class="col-sm-3">
          <div class="thumbnail">
            <br>
            <center><font face="PSU Stidti Lighto">
              @Html.DisplayFor(modelItem => item.BaseName)
            </font></center>
            <hr>
            <img src="./images/NewAdmin/@Html.DisplayFor(modelItem => item.imageFileName)" width="150" >
            <hr>
            <font face="PSU Stidti Lighto">
              &nbsp;&nbsp;หมวดหมู่ : @Html.DisplayFor(modelItem => item.Name) <br>
              &nbsp;&nbsp;รหัส : @Html.DisplayFor(modelItem => item.BaseID) <br>
              &nbsp;&nbsp;จำนวน : @Html.DisplayFor(modelItem => item.Stork) <br>
            </font>
          </div>
        </div>
            }
            }
      </div>
    </div>
  </div>
</div>

