@page
@model FormModel
@{
    ViewData["Title"] = "แบบฟอร์มการจองอุปกรณ์";
}

<h1> แบบฟอร์มการจองอุปกรณ์ </h1>
<h5> *** 1 รหัสนักศึกษา ต่อการจองสิ่งของ 1 อย่าง ***</h5>
<hr>
<div id="row">
    <form action="/FormPlace" method="post" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        ชื่อ-นามสกุล : <input type="text" name="FormName"> <br>
        <p></p>
        รหัสนักศึกษา : <input type="text" name="FormId" maxlength="10" minlength="10"> <br>
        <p></p>
        อุปกรณ์ที่ต้องการจอง : <input type="text" name="FormBase"> <br>
        <p></p>
        จำนวน : <input type="text" name="FormStork"> <br>
        <hr>
        <input type="Submit" value="ยืนยันการจองอุปกรณ์">
    </form>
    <p></p>
    <a href="/index"><input type="Submit" value="กลับสู่หน้าหลัก"></a>
</div>