@page
@model FormPlaceModel
@{
    ViewData["Title"] = "ส่งแบบฟอร์มการจองอุปกรณ์เสร็จสิ้น";
}
<h3>ส่งแบบฟอร์มสำเร็จ. ขอบคุณคุณ @Model.FormName ที่กรอกแบบแฟอร์ม</h3>
<a href="/index"><input type="Submit" value="กลับสู่หน้าหลัก"></a>