@using Microsoft.AspNetCore.Identity
@using Storage.Models
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="/CategoryAdmin"> หมวดหมู่การจัดของ </a>
            </li>
            
            <li>
                <a href="/NewAdmin"> เพิ่มสิ่งของ </a>
            </li>
             <li>
                <a href="/FormAdmin"> ระบบการจอง </a>
            </li>
            <li>
               <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">สวัสดีคุณ @UserManager.GetUserAsync(User).Result.FirstName @UserManager.GetUserAsync(User).Result.LastName</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">ออกจากระบบ</button>
            </li>
        </ul>
    </form>
}

else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="Identity" asp-page="/Account/Register">สมัครสมาชิก</a></li>
        <li><a asp-area="Identity" asp-page="/Account/Login">ลงชื่อเข้าใช้</a></li>
    </ul>
}
