@page
@model WebSamo.Pages.FormAdmin.DeleteModel

@{
    ViewData["Title"] = "ลบ - ประวัติการจอง";
}

<h2>ลบประวัติการจอง</h2>

<h3>คุณเเน่ใจที่จะต้องการลบ?</h3>
<div>
    <h4>รายละเอียด</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ชื่อ-นามสกุล
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Form.FormName)
        </dd>
        <dt>
            รหัสนักศึกษา
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Form.FormId)
        </dd>
        <dt>
            อุปกรณ์ที่ต้องการจอง
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Form.FormBase)
        </dd>
        <dt>
            จำนวน
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Form.FormStork)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Form.FormId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
