@page
@model WebSamo.Pages.FormAdmin.DetailsModel

@{
    ViewData["Title"] = "รายละเอียด - ประวัติการจอง";
}

<h2>ประวัติการจอง</h2>
<h4>รายละเอียด</h4>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ชื่อ-นามสกุล
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Form.FormName)
        </dd>
        <dt>
            รหัสนักศึกษา
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Form.FormId)
        </dd>
        <dt>
            อุปกรณ์ที่ต้องการจอง
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Form.FormBase)
        </dd>
        <dt>
            จำนวน
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Form.FormStork)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Form.FormId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
