@page
@model WebSamo.Pages.FormAdmin.IndexModel

@{
    ViewData["Title"] = "ประวัติการจอง";
}

<h2>ประวัติการจอง</h2>

<p>
    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ชื่อ-นามสกุล
            </th>
            <th>
                รหัสนักศึกษา
            </th>
            <th>
                อุปกรณ์ที่ต้องการจอง
            </th>
            <th>
                จำนวน
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Form) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FormName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormBase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormStork)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.FormId">เเก้ไข</a> |
                <a asp-page="./Details" asp-route-id="@item.FormId">รายละเอียดการจอง</a> |
                <a asp-page="./Delete" asp-route-id="@item.FormId">ลบ</a>
            </td>
        </tr>
}
    </tbody>
</table>
