@page
@model WebSamo.Pages.NewAdmin.DeleteModel

@{
    ViewData["Title"] = "ลบ - ระบบการจัดการของภายในสโมสรนักศึกษา";
}

<h2>ระบบการจัดการของภายในสโมสรนักศึกษา</h2>

<h3>คุณเเน่ใจที่จะต้องการลบ?</h3>
<div>
    <h4>รายละเอียด</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ชื่อของ:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Base.BaseName)
        </dd>
        <dt>
            หมวดหมู่:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Base.Name)
        </dd>
        <dt>
            จำนวน:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Base.Stork)
        </dd>
        <dt>
            ไฟล์รูปภาพ:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Base.imageFileName)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Base.BaseID" />
        <input type="submit" value="ลบ" class="btn btn-default" /> |
        <a asp-page="./Index">กลับไปยังหน้าหลัก</a>
    </form>
</div>
