@page
@model WebSamo.Pages.NewAdmin.DetailsModel

@{
    ViewData["Title"] = "รายละเอียด - ระบบการจัดการของภายในสโมสรนักศึกษา";
}

<h2>ระบบการจัดการของภายในสโมสรนักศึกษา</h2>

<div>
    <h4>รายละเอียด</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ชื่อของ:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Base.BaseName)
        </dd>
        <dt>
            หมวดหมู่:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Base.Name)
        </dd>
        <dt>
            จำนวน:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Base.Stork)
        </dd>
        <dt>
            ไฟล์รูปภาพ:
        <dd>
            @Html.DisplayFor(model => model.Base.imageFileName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Base.BaseID">เเก้ไข</a> |
    <a asp-page="./Index">กลับไปยังหน้าหลัก</a>
</div>
