@page
@model WebSamo.Pages.NewAdmin.EditModel

@{
    ViewData["Title"] = "สร้าง - ระบบการจัดการของภายในสโมสรนักศึกษา";
}

<h2>ระบบการจัดการของภายในสโมสรนักศึกษา</h2>

<h4>เเก้ไข</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Base.BaseID" />
            <div class="form-group">
                <label asp-for="Base.Name" class="control-label">หมวดหมู่</label>
                <select asp-for="Base.Name" class ="form-control" asp-items="ViewBag.Name"></select>
            </div>           
            <div class="form-group">
                <label asp-for="Base.BaseName" class="control-label">ชื่อ</label>
                <input asp-for="Base.BaseName" class="form-control" />
                <span asp-validation-for="Base.BaseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Base.Stork" class="control-label">จำนวน</label>
                <input asp-for="Base.Stork" class="form-control" />
                <span asp-validation-for="Base.Stork" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Base.imageFileName" class="control-label">อัพโหลดรูปใหม่</label>
                <input asp-for="Base.imageFileName" type="file" />
                <span asp-validation-for="Base.Stork" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="บันทึก" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">กลับไปยังหน้าหลัก</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
