@page
@model WebSamo.Pages.NewAdmin.IndexModel

@{
    ViewData["Title"] = "ระบบการจัดการของภายในสโมสรนักศึกษา";
}

<h2>ระบบการจัดการของภายในสโมสรนักศึกษา</h2>

<p>
    <a asp-page="Create">สร้างใหม่</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                หมวดหมู่
            </th>
            <th>
                รหัส
            </th>
            <th>
                ชื่อของ
            </th>
            <th>
                จำนวน
            </th>
            <th>
                รูปภาพ
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Base) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BaseID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BaseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stork)
            </td>
            <td>
                <img src="./images/NewAdmin/@Html.DisplayFor(modelItem => item.imageFileName)" width="150">
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.BaseID">เเก้ไข</a> |
                <a asp-page="./Details" asp-route-id="@item.BaseID">รายละเอียด</a> |
                <a asp-page="./Delete" asp-route-id="@item.BaseID">ลบ</a>
            </td>
        </tr>
}
    </tbody>
</table>
