@page
@model WebSamo.Pages.CategoryAdmin.CreateModel

@{
    ViewData["Title"] = "สร้าง - หมวดหมู่การจัดของภายในสโมสรนักศึกษา";
}

<h2>หมวดหมู่การจัดของภายในสโมสรนักศึกษา</h2>

<h4>หมวดหมู่</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Category.CategoryID" class="control-label">หมวดหมู่</label>
                <input asp-for="Category.CategoryID" class="form-control" />
                <span asp-validation-for="Category.CategoryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category.Name" class="control-label">ชื่อ</label>
                <input asp-for="Category.Name" class="form-control" />
                <span asp-validation-for="Category.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="สร้างหมวดหมู่" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">กลับไปยังหน้าหมวดหมู่</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
