@page
@model WebSamo.Pages.CategoryAdmin.DeleteModel

@{
    ViewData["Title"] = "ลบ - หมวดหมู่การจัดของภายในสโมสรนักศึกษา";
}

<h2>ลบ</h2>

<h3>คุณเเน่ใจว่าต้องการที่จะลบ?</h3>
<div>
    <h4>หมวดหมู่</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ชื่อหมวดหมู่
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Category.CategoryID" />
        <input type="submit" value="ลบ" class="btn btn-default" /> |
        <a asp-page="./Index">กลับสู่หน้าหมวดหมู่</a>
    </form>
</div>
