@page
@model WebSamo.Pages.CategoryAdmin.DetailsModel

@{
    ViewData["Title"] = "รายละเอียด - หมวดหมู่การจัดของภายในสโมสรนักศึกษา";
}

<h2>รายละเอียด</h2>

<div>
    <h4>หมวดหมู่</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            หมวดหมู่:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category.CategoryID)
        </dd>
        <dt>
            ชื่อหมวดหมู่:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Category.CategoryID">เเก้ไข</a> |
    <a asp-page="./Index">หลับไปยังหน้าหมวดหมู่</a>
</div>
