@page
@model WebSamo.Pages.CategoryAdmin.IndexModel

@{
    ViewData["Title"] = "หมวดหมู่การจัดของภายในสโมสรนักศึกษา";
}

<h2>หมวดหมู่การจัดของภายในสโมสรนักศึกษา</h2>

<p>
    <a asp-page="Create">สร้างหมวดหมู่ใหม่</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                หมวดหมู่
            </th>
            <th>ชื่อหมวดหมู่</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Category) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CategoryID">เเก้ไข</a> |
                <a asp-page="./Details" asp-route-id="@item.CategoryID">รายละเอียด</a> |
                <a asp-page="./Delete" asp-route-id="@item.CategoryID">ลบ</a>
            </td>
        </tr>
}
    </tbody>
</table>
